<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
	<div class="jumbotron text-center">
		<h1="center"><font color="#008000" size="40" face="Arial">Muuzik</font></h1>
	</div>
	
	<p align="center">El anuncio ha sido guardado correctamente</p>
	<p align="center"><a href="/tablon/?page=0&size=50" class="btn btn-success">Volver al tablón</a>
</body>
</html>