<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>

<body>
	<div class="jumbotron text-center">
		<h1="center">
			<font color="#008000" size="40" face="Arial">Muuzik</font>
		</h1>
		<p align="center">
		<font color="#003300" size="5" face="Arial">Regístrate o inicia sesión</font></p>
		{{#loggedIn}}
		<p>Sesión iniciada como {{nick}}.</p>
		<br> {{/loggedIn}}
	</div>

	<div class="container">
		<div class="row">
			{{#anuncios}} 
			<div class="col-sm-4">
				<a href="/anuncio/{{id}}">
				<h3>{{articulo.nombre}}</h3>
				<p>{{usuario.nick}}</p>
				<p>{{precio}} €</p> 
			</div>
			{{/anuncios}}  
		</div>
	</div>
	

	<p align="center"><a href="nuevoUsuario.html" class="btn btn-success">Registrarse</a>
	<a href="inicio_sesion.html" class="btn btn-success">Iniciar sesión</a></p>
	<p align="center"><br><a href="tablon" class="btn btn-success">Tablón de anuncios</a>


	
</body>
</html>