<html>
<body>
   	<p align="center"><font color="#008000" size="20" face="Arial"> Tablón Anuncios</font> </p>
	{{#anuncios}}
	<p align="center"><a href="/anuncio/{{id}}">{{nombre}} {{asunto}}</a>
	{{/anuncios}}    
	
	<br>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<p align="center"><a href="/nuevoAnuncio.html" class="btn btn-success">Nuevo anuncio<a>
	<a href="/tablon/?page=0&size=50" class="btn btn-success">Volver al tablón</a></p>
	<!--<a href="/nuevoAnuncio.html">Nuevo anuncio</a>
	<a href="/tablon/">Volver al tablón</a>  -->
</body>
</html>