<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	  <div class="container">
	    <a class="navbar-brand" href="#">MUUZIK</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navBar">
	      <ul class="navbar-nav ml-fill">
	        <li class="nav-item"><a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a></li>
	        <li class="nav-item"><a class="nav-link" href="/tablon">Tablón</a></li>
	        <li class="nav-item"><a class="nav-link" href="/crearAnuncio">Publicar un anuncio</a></li>
	      </ul>
	    </div>
	    <div class="collapse navbar-collapse" id="navBar">
	      <ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link" href="/login">Inicia sesión</a></li>
			<li class="nav-item"><a class="nav-link" href="/register">Regístrate</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<br>
	<br>
	<p align="center"><font color="#C8707E" size="20" face="Arial"> No se ha encontrado un usuario con ese nick o contraseña.</font> </p>
	<p align="center"><a href="/" class="btn btn-success">Volver al inicio</a>
</body>
</html>