<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
	<div class="jumbotron text-center">
		<h1="center"><font color="#008000" size="40" face="Arial">Muuzik</font></h1>
	</div>
	<p align="center"><font color="#C8707E" size="20" face="Arial"> No se ha encontrado un usuario con ese nick o contraseña.</font> </p>
	<p align="center"><a href="/" class="btn btn-success">Volver al inicio</a>
</body>
</html>