<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
		<a class="navbar-brand" href="#">MUUZIK</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="nav navbar-nav nav-fill">
				<li class="nav-item">        </li>
  				<li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
  				<li class="nav-item"><a class="nav-link" href="/tablon">Tablón</a></li>
				<li class="nav-item"><a class="nav-link" href="/nuevoAnuncio.html">Nuevo Anuncio</a></li>
				<li class="nav-item">        </li>
				<form class="form-inline" action="/action_page.php">
    				<input class="form-control mr-sm-2" type="text" placeholder="¿Qué estás buscando?">
   				 	<button class="btn btn-success" type="submit">Buscar</button>
  				</form>
			</ul>
		</div>
	</nav>
	<br>
	<p align="center">Producto: {{anuncio.articulo.nombre}}</p>
	{{#hayCat}}<p align="center">Categoria: {{anuncio.articulo.categoria}}</p>{{/hayCat}}
	{{#hayAno}}<p align="center">Año de fabricación: {{anuncio.articulo.anoFabricacion}}</p>{{/hayAno}}

	<p align="center">Precio: {{anuncio.precio}} €</p>
	<p align="center">Comentario: {{anuncio.comentario}}</p>
	<p align="center">Vendedor: <a href="/usuario/{{anuncio.usuario.id}}">{{anuncio.usuario.nick}}</a></p>
	
	<p align="center"><a href="/tablon/?page=0&size=50" class="btn btn-success">Volver al tablón</a>
	<a href="" class="btn btn-success">Estoy interesado</a></p>
	<p align="center"><a href="/borrar_anuncio/{{anuncio.id}}" class="btn btn-success">Borrar anuncio</a></p>
</body>
</html>