<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	    <a class="navbar-brand" href="#">MUUZIK</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navBar">
	      <ul class="navbar-nav ml-fill">
	        <li class="nav-item"><a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a></li>
	        <li class="nav-item"><a class="nav-link" href="/tablon">Tablón</a></li>
	        <li class="nav-item"><a class="nav-link" href="/crearAnuncio">Publicar un anuncio</a></li>
	      </ul>
	    </div>
	    <div class="collapse navbar-collapse" id="navBar">
	      <ul class="navbar-nav ml-auto">
	        <li class="nav-item-active"><a class="nav-link" href="/zona-usuario"> ¡Hola, {{usuario.nick}}!</a></li>
	        <li class="nav-item">
	        	<form action="/logout" method="post">
		        	<button type="submit" class="btn btn-primary my-1">Cerrar sesión</button>
					<input type="hidden" name="_csrf" value="{{token}}" />
				</form>
			</li>
	      </ul>
	    </div>
	</nav>
	<br>
	<div class="container">
		<h1>Mi cuenta</h1>
		<br>
		<div class="row">
			<div class="col-sm-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title" style="color:black;">Mis anuncios</h5>
						<p class="card-text" style="color:grey;">Lista de mis artículos en venta.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title" style="color:black;">Mis pedidos</h5>
						<p class="card-text" style="color:grey;">Lista de mis artículos comprados.</p>
					</div>
				</div>	
			</div>
			<div class="col-sm-3">
				<div class="card"> <a href="/bandeja_entrada">
					<div class="card-body">
						<h5 class="card-title" style="color:black;">Mensajes recibidos</h5>
						<p class="card-text" style="color:grey;">Bandeja de entrada de mensajes privados con otros usuarios.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card"> <a href="/usuario/{{usuario.id}}/edit">
					<div class="card-body">
						<h5 class="card-title" style="color:black;">Editar mi usuario</h5>
						<p class="card-text" style="color:grey;">Editar mi nick, contraseña...</p>
					</div>
				</div>	
			</div>
		</div>
	</div>
</body>
</html>