<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
		<a class="navbar-brand" href="#">MUUZIK</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="nav navbar-nav nav-fill">
				<li class="nav-item">        </li>
  				<li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
  				<li class="nav-item"><a class="nav-link" href="/tablon">Tablón</a></li>
				<li class="nav-item"><a class="nav-link" href="/crearAnuncio">Publicar un anuncio</a></li>
				<li class="nav-item">
					<form action="/logout" method="post">
						<input type="submit" value="Cerrar sesión" />
						<input type="hidden" name="_csrf" value="{{token}}" />
					</form>
				</li>
				<!-- 
				<li class="nav-item">        </li>
				<form class="form-inline" action="/action_page.php">
    				<input class="form-control mr-sm-2" type="text" placeholder="¿Qué estás buscando?">
   				 	<button class="btn btn-success" type="submit">Buscar</button>
  				</form>
  				 -->
			</ul>
		</div>
	</nav>
	<br>
   	<p align="center"><font color="#008000" size="20" face="Arial"> El usuario ha sido borrado correctamente.</font> </p>
	<p align="center"><a href="/" class = "btn btn-success">Volver al inicio</a>
	
</body>
</html>